body{
    margin: 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.circle{
    margin: 20px;
    border: 1px solid black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
